{% extends 'base.html.twig' %}


{% block body %}
	<div class="AccueilBody">
		<div>
			<div class="logo"></div>
			<h1>École de musique où excellence et plaisir sont réunis!
			</h1>

			<P>
				La
																												ZIKHOUSE
																												offre des cours de musique de qualité, structurés et gratuits sur la commune de Cenac et ce, pour toutes les tranches d’âge. Une équipe de pédagogues professionnels, qualifiés et passionnés travaillent pour vous et avec vous dans l’objectif de vous offrir le meilleur et de faire grandir votre Amour de la Musique.</P>
		</div>
	</div>


{% endblock %}
