{% extends 'base.html.twig' %}

{% block title %}Hello ClassRoomController!
{% endblock %}

{% block body %}

	<div class="classroomBody">
		<div>
			<h1>Les classes instruments</h1>
			<img src="./img/logo.png" alt="">

		</div>
		<div>

			{% for classroom in classrooms %}
				<p>{{classroom.name}}
				</p>

			{% endfor %}


		</div>


	</div>


{% endblock %}
