@use 'variables';
    nav{  
    position: fixed;
    top: 2vh;

    width: 98%;
    height: 10vh;
    width: 100%;
    font-size: 20px;
    // background-color:#611C35;
    background-color:$blue;


    
    ul {
        width: 100%;
        height: 100%;

        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        li {
            display: inline;

            a{
                text-decoration: none;
                color: white;
            }

            a:hover{
                color: blue;
                cursor: url("/assets/img/cledesol.png");
            }
           
            
          }
      }

      

}
