@use 'variables';
.navBody{
   

    height: 10vh;
    width: 100vw;
    background-color:$blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    nav{  
        position: fixed;
        width: 100%;
        height: 10vh;
        font-size: 20px;
        z-index: 3000;
        background-color:$orange;
        opacity: 0.9;

        .menu_list {
            width: 100%;
            height: 100%;

            list-style-type: none;
            font-family: "poppins";
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            

            
     

            li {
            display: inline;

                a{
                    text-decoration: none;
                    color: white;
                }

                a:hover{
                    color:black;
                    
                }
           
            
          }
          

           
      }

        #burgerlogo{
            display:none;
        }
     

      
     

      .liens_burger{
          display: none;
        
        li{
            a{
                text-decoration: none;
                color: black;
            };      
        
        }
      }

    }
}


//*****************************************_Responsive_************************

//____LAPTOP L_______
@media screen and (min-width: 1440px) {
    .navBody{
   

        height: 10vh;
        width: 100vw;
        background-color:$blue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    
        nav{  
            position: fixed;
            width: 100%;
            height: 10vh;
            font-size: 35px;
            z-index: 3000;
            background-color:$orange;
            opacity: 0.9;
    
            .menu_list {
                width: 100%;
                height: 100%;
    
                list-style-type: none;
                font-family: "poppins";
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
    
                
         
    
                li {
                display: inline;
    
                    a{
                        text-decoration: none;
                        color: white;
                    }
    
                    a:hover{
                        color:black;
                        
                    }
               
                
              }
              
    
               
          }
    
            #burgerlogo{
                display:none;
            }
         
    
          
         
    
          .liens_burger{
              display: none;
            
            li{
                a{
                    text-decoration: none;
                    color: black;
                };      
            
            }
          }
    
        }
    }
}


//____TABLET______
@media screen and (max-width: 770px) {
    .navBody{
   

        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    
        nav{  
            position: fixed;
            width: 100%;
            height: 10vh;
            font-size: 20px;
            z-index: 3000;
            background-color:$orange;
            opacity: 0.9;
    
        
            .menu_list {
                display: none;  
            }


            #burgerlogo{
                display: block;
                position: absolute;
                color: $blue;
                top: 8px;
                right: 50px;
                font-size: 50px;
            }
        
        
            .liens_burger{
                position: absolute;
                top:10vh;
                right: 0px;
                height: auto;
                width: 100%;
                background-color: black;
                display: none;
                text-align: center;
                
                li{


                    margin: 5vh;

                    a{
                        text-decoration: none;
                        color: $orange;
                        font-size: 50px;
                        font-family: "poppins";
                    };      
                
                }
            }
            
    
        }
    }
  
}

// _____TEL L______
@media screen and (max-width: 770px) {
    .navBody{
   

        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    
        nav{  
            position: fixed;
            width: 100%;
            height: 10vh;
            font-size: 20px;
            z-index: 3000;
            background-color:$orange;
            opacity: 0.9;
    
        
            .menu_list {
                display: none;  
            }


            #burgerlogo{
                display: block;
                position: absolute;
                color: $blue;
                top: 8px;
                right: 50px;
                font-size: 50px;
            }
        
        
            .liens_burger{
                position: absolute;
                top:10vh;
                right: 0px;
                height: auto;
                width: 100%;
                background-color: black;
                display: none;
                text-align: center;
                
                li{


                    margin: 5vh;

                    a{
                        text-decoration: none;
                        color: $orange;
                        font-size: 30px;
                        font-family: "poppins";
                    };      
                
                }
            }
            
    
        }
    }
  
}