.indexBody{
    height: 100vh;
    width: 100%;
    background-color:black;
    color:white;
    display: flex;
    font-family: "poppins";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        font-size: 20px;
        color: $gray;
        margin-top: 4vh;
        padding: 1vh;
        
        
   
        &:hover{
             color: $orange;
             border: none;
             font-size: 20px;
        
        }
    
    }
    .article{
        height: auto;
        width:50vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 30px;
            text-transform: uppercase;
        }
        
        p{
            height: auto;
            width: 100%;
            text-align: left;
            color: $orange;
            padding: 2vh;
            margin-left: 2vw;
        

        }
        
    }
    
    form{
        // button{
        //     color: red;
        //     background-color: green;
        // }
        button{
            border-radius: 40px;
            margin-top: 1vh;
            padding: 8px;
            width: 10vw;
            transition: 0.5s;
            
        }
        button:after {
            position: absolute;
            opacity: 0;  
            top: 14px;
            right: -20px;
            transition: all 0.5s;
            transition: 0.5s;
        }
        
        button:hover{
            filter:invert(1);
            width: 40vw;


        }
        

    }

       
    
} 