.indexBody{
    height: 100vh;
    width: 100%;
    background-color:black;
    color:white;
    display: flex;
    font-family: "poppins";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
    }
    .article{
        height: auto;
        width:50vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 30px;
            text-transform: uppercase;
        }
        
        p{
            height: auto;
            width: 100%;
            text-align: left;
            color: $orange;
            padding: 2vh;
            margin-left: 2vw;
        

        }
        
    }
    
    form{
        button{
            color: red;
            background-color: green;
        }

    }
       
    
} 