<footer>
	<div class="general">
		<div class="besoin">
			<h2>Besoin d'aide ?</h2>
			<p>Vous pouvez nous contacter
			</p>
		</div>

		<div class="coordonnees">
			<div>
				<p>Par téléphone au</p>
				<h3>07.69.19.09.48</h3>
			</div>
			<div>
				<p>ou par email</p>
				<h3>flouka.infos@gmail.com</h3>
			</div>


		</div>
		<h6>Copyright © 2021 MusicHouse. Tous droits réservés.</h6>

	</div>
</footer>
