{% extends 'base.html.twig' %}

{% block body %}
	<div class="modifyBody">


		{% if is_granted('ROLE_ADMIN') %}

			<h1>Modifier cet article</h1>
			<div>
				{{ form(form_text) }}
				</div>


			{% else %}
				<h3>Vous n'avez pas acces à cette page</h3>
			{% endif %}

		</div>
	{% endblock %}
