{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!
{% endblock %}

{% block body %}
	<div class="postsBody">
		<h1>Liste des articles</h1>

		{% if is_granted('ROLE_ADMIN') %}

			<button>
				<a href="{{ path('add_post') }}">Ajouter un article</a>
			</button>
		{% endif %}


		{% for post in posts %}

			<div>

				<a href="{{ path('post', {'id': post.id}) }}">{{ post.title }}</a>

			</td>
		</div>


	{% endfor %}

</div>{% endblock %}
